{% csrf_token %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вэллком</title>
    {% load  static %}
    {% block css_additional %}
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'css/modalWindow.css'%}">
    {% endblock %}
</head>
<body>
    <body>

        
        <!-- СЕКЦИЯ ШАПКА И МЕНЮ -->
            <header>
                <section class="navigator">
                    <div class="wrapper">
                        <div class="navigator-block">
                            <div class="logo">
                                <a href="/">
                                    <img src="/static/img/logo.svg" width="300" height="200" alt="logo">
                                </a>
                            </div>
                            <nav>
                                
                                <ul class="menu">
                                    <li><a href="https://goo.gl/maps/Vw2VHosa6sNe89hj6"> точка выдачи — Урень, Ленина 99</a></li>
                                    <li><a href="tel:+7831 222 67 70"> Заказать обратный звонок</a></li>
                                    <li>c 09:00 до 18:00</li>
                                    <li><strong>8 831 222 67 70</strong></li>
                                   
                                </ul> 
                            </nav>
                        </div>
                    </div>
                 </section>
                 <section class="heading">
                    <div class="wrapper">
                        <div class="heading-block">
                            <div class="background-block">
                                <img src="/static/img/aCYKQAapbvk.jpg" alt="aCYKQAapbvk" width="100%">
                            </div>
                        </div>
                    </div>
                 </section>
                </header> 
    
            
                <main>
                    <section class="content-tarifs">
                        <div class="wrapper">
                            
                            <div class="content-tarifs__heading">
                                <div class="heading_tarifs">
                                    <h1>Отзывы</h1>
                                </div>
                                {% block reviews %}
                                {% if reviews.count > 0 %}
                                <div class="wrapper">
                                    <div class="section_content">                        
                                        <div class="flex-container__phones">
                                            {% for review in reviews %}
                                            <div class="flex-item__flex-container">
                                                <div class="text-block__flex-item">
                                                    <h4>{{ review.name }}</h4>
                                                    <p>{{ review.review }}</p>
                                                </div>
                                            </div>                                           
                                    {% endfor %}
                                    {% else %}
                                    <div class="wrapper">
                                        <div class="section_content">
                                            <div class="section-heading">
                                                <h2>Нет отзывов :(</h2>
                                            </div>  
                                    {% endif %}
                                {% endblock %}
                    </section>
    
                </main>
            <footer>
                
        
                <section class="info-footer">
                    <div class="wrapper">
                        <div class="flex-container__info-footer">
                            <p>Copyright © 2023 wellcom52. Powered by wellcom52.</p>
                            <div class="block-social-icon">
                                <a href="https://vk.link/wellcom52"><img src="/static/img/icon-vk.svg" alt="icon-vk"></a>
                                <a href="#"><img src="/static/img/icon-instagram.svg" alt="icon-instagram"></a>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
    
                
             <script src="/static/js/modalWindow.js"></script>
    
    </body>

</body>